#p-nav {
  .p-nav {
    /*  position: fixed;
    z-index: 1000; */
    li a {
      transition: 0.2s all ease-in-out;
    }

    .bg-dark {
      background-color: transparent !important;
      width: 100%;
    }

    .navbar-logo {
      width: 150px;
      height: 140px;
    }
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link:focus {
      color: rgba(255, 255, 255, 1) !important;
    }
    .p-nav-social {
      /* Its BootStap Class  */
      .nav-link:hover,
      .nav-link:focus {
        transform: scale(1.7);
        transition: 0.5s all ease-in-out;
      }
      svg {
        &:hover {
          transition: 0.3s all ease-in-out;
        }
      }
      .instagram {
        &:hover {
          color: #d400ff;
        }
      }
      .telegram {
        &:hover {
          color: #00aeff;
        }
      }
      .facebook {
        &:hover {
          color: #0077ff;
        }
      }
      .youtube {
        &:hover {
          color: #ff0000;
        }
      }
      .soundcloud {
        &:hover {
          color: #ff9900;
        }
      }
      .linkedin {
        &:hover {
          color: #0043fd;
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  #p-nav {
    .p-nav {
      .navbar-logo {
        margin-top: 0px;

        margin-left: -20px;
      }
      .menu-btn {
        float: right;
      }
      .navbar-collapse {
        margin-right: 50px;
      }
      .p-nav-social {
        flex-direction: row;
        justify-content: center !important;
        li {
          margin: 8px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  #p-nav {
    .navbar-logo {
      width: 100px !important;
      height: 90px !important;
    }
  }
}
