#p-songs {
  margin: -50px auto 100px;
  .p-error{
    padding: 20px;
    h5{
      color: red;
    }
  }
  .alert {
    visibility: hidden;
    direction: rtl;

    p {
      color: black;
    }
    .close-understand {
      .close {
        float: none;
        padding: 10px;
      }
     
    }
  }
  .p-songs {
    .p-youtube-title {
      margin-bottom: 50px;
    }
    .p-youtube {
      width: 100%;
      height: 600px;
    }
    @media only screen and (max-width: 991px) {
      .p-youtube {
        height: 420px;
      }
    }
  }
}
