#p-soundcloud {
  .p-soundcloud-text {
    margin: 150px auto 50px;
  }
  .p-soundcloud {
  
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: #cc4400;
    }
    .owl-theme .owl-dots .owl-dot span {
      background: white;
    }
  }

}
