@import "home";
@import "navbar";
@import "about";
@import "songs";
@import "soundcloud";
@import "footer";
@import "admin";
@import "base-cart";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

  /* Edit RowClass In BootStrap */
  @media only screen and (max-width: 991px) {
    .row {
      margin: 0;
    }
  }

