@import "./home";
@import "./navbar";
@import "./about";
@import "./songs";
@import "./soundcloud";
@import "./footer";
* {
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: montserrat;

  src: url("../fonts/Montserrat-Light.ttf");
}

body {
  font-family: "montserrat" !important;
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
  /* Edit RowClass In BootStrap */
  @media only screen and (max-width: 991px) {
    .row {
      margin: 0;
    }
  }
}
